@font-face {
    font-family: "Gothic";
    src: url(fonts/Gothic.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    line-height: 1.3;
    transition: all .4s;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

}

img{
    max-width: 100%;

}

:root{
    --black-clr:rgb(0,0,0);
    --white-clr: rgb(255,255,255);
    --box-shadow: 0 .8rem 1rem rgba(0,0,0,.7);
    --logo-fz: calc(18px + (30 - 18) * ((100vw - 300px) / (1600 - 300)));
    --biggest-fz: calc(30px + (80 - 30) * ((100vw - 300px) / (1600 - 300)));
    --large-fz:calc(20px + (35 - 20) * ((100vw - 300px) / (1600 - 300)));
    --medium-fz:calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
    --small-fz:calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    --number-icons:calc(25px + (40 - 25) * ((100vw - 300px) / (1600 - 300)));
}

body {
    --sb-track-color: #000000;
    --sb-thumb-color: #850606;
    --sb-size: 1rem;
    min-height: 200vh;
    background-image: url(picture/Red.png);
    background-size: cover;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1rem;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1rem;
}

section{
    padding: 2rem 9%;
}
 /* ДЛЯ ССЫЛОК ЕСЛИ НУЖНО БУДЕТ  */
.btn {
    display: inline-block;
    margin: 1rem 1.5rem 0rem;
    border-radius: 5rem;
    color: #850606;
    background-color: var(--white-clr);
    font-size: var(--medium-fz);
    padding: 1rem 3rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: 0.3s;

}

.btn:hover {
    background-color: var(#850606);
    color: var(--white-clr);    
}
/* header section :start */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #000000;
    width: 100%;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 9%;
    z-index: 999999999;
}
header .logo{
    font-size: var(--logo-fz);
    color: var(--white-clr);
    font-family:"Gothic";
}
header .logo .fa-heart-crack {
    font-size: var(--logo-fz);
}

header .navbar {
    display: flex;
    
}
header .navbar li{
    margin: 0rem 1.5rem;
    
}


header .navbar li a {
    font-size: var(--medium-fz);
    color: var(--white-clr);
    transition: 0.3s;
    padding: 0.7rem;
    background: 
    linear-gradient(#850606 0 0) 0 0,
    linear-gradient(#850606 0 0) 0 0,
    linear-gradient(#850606 0 0)
    100% 100%,
    linear-gradient(#850606 0 0)
    100% 100%;
    background-repeat: no-repeat;
    background-size: 1.5rem .2rem, .2rem 1.5rem;
    font-family:"Gothic";
}

header .navbar li a:hover {
        color: var(--sb-thumb-color);
        background-position: 100% 0%, 0% 
        100% 0%,0% 100%, 100% 0%;
        
}


#menu-btn{
    color: var(--white-clr);
    font-size: var(--medium-fz);
    cursor: pointer;
    border: .1rem solid var(--white-clr);
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    display: none;

}


/* header section :end */

/* home section start  */

.home {
    margin-top: 7rem;
}
.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
}

.home .row .content {
    flex: 1 1 40rem;
    text-align: center;
}
.home .row .content h3 {
    margin-bottom: 1rem;
    color: var(--white-clr);
    font-size: var(--biggest-fz);
    font-family:"Gothic";
}
.home .row .content p {
    margin-bottom: 1.5rem;
    color: var(--white-clr);
    font-size: var(--medium-fz);
    text-align: justify;
    /* НАПИСАТЬ СТИЛЬ  */

}

.home .row .img {
    flex: 1 1 40rem;
    text-align: center;
}



 /* home section end  */
    /* Number section start  */
.number .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.number .box-container .box {
    flex: 1 1 25rem;
    background-color: rgb(161, 156, 156);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 0.5rem;
    gap: 2rem;
    box-shadow: var(--box-shadow);

}
.number .box-container .box {
    font-size: var(--number-icons)
}
.number .box-container .box .content {
    font-size: var(--medium-fz);
    color: var(--black-clr);
}
.number .box-container .box p {
    font-size: var(--small-fz);
    font-weight: bold;
}
    /* Number section end  */
    /* inf section start  */
    .inf {
        margin-top: 7rem;
    }

    .inf .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2.5rem;
    }
    .inf .row .img {
        flex:1 1 40rem ;
    }
    .inf .row .img img {
        border: .5rem solid var(--sb-thumb-color);
        object-fit: cover;
    }
    .inf .row .content {
        flex:1 1 40rem ;
        color: var(--white-clr);
    }
    .inf .row .content h3 {
        font-size: var(--biggest-fz);
        font-family: "Gothic";

    }
    .inf .row .content p {
        font-size: var(--medium-fz);
        margin-bottom: 2rem;

    }
    /* inf section end   */
    /* purpose section start  */
    .purpose {
        margin-top: 7rem;
    }
    .purpose .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2.5rem;
    }
    .purpose .row .img {
        flex:1 1 40rem ;
    }
    .purpose .row .img img {

        border: .5rem solid var(--black-clr);
        object-fit: cover;
    }
    .purpose .row .content {
        flex:1 1 40rem ;
        color: var(--white-clr);
    }
    .purpose .row .content h3 {
        font-size: var(--biggest-fz);
        font-family: "Gothic";

    }
    .purpose .row .content p {
        font-size: var(--medium-fz);
        margin-bottom: 2rem;
    }

    /* purpose section end  */
    /* link section start  */
        .link {
            margin-top: 7rem;
        }
        .link .row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 2.5rem;
        }
        .link .row .content {
            flex:1 1 40rem ;
            color: var(--white-clr);
        }
        .link .row .content a {
            font-size:200px;
            color: var(--white-clr);
            font-family: "Gothic";
            text-align: center;
            display: block;
            border-top: .1rem solid var(--white-clr);
            border-bottom:.1rem solid var(--white-clr);
            border-left: .1rem solid var(--white-clr);
            border-right: .1rem solid var(--white-clr); 
            border-radius: 20px;
            background-repeat: no-repeat;
            background-size: 1.5rem .2rem, .2rem 1.5rem;
        }
        .link .row .content a:hover {
            color: #850606;
        }
        .link .row .content a:active {
            color: #850606;
        }
    /* link section end  */
/* media queris */

@media (max-width:768px) {
    #menu-btn {
        display: block;
    }
    header {
        padding: 1rem 2rem;
    }

    header .navbar {
        position: absolute;
        top: 90%;
        left: 0;
        right: 0;
        border-top: .1rem solid var(--white-clr);
        border-bottom:.1rem solid var(--white-clr);
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.3s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        background-color: #000000;

    }

    header .navbar li {
        margin: 2rem;
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
